*.obj
RougeGame/nsoleApplication2.v12.suo
*.obj
*.tlog
RougeGame/RougeLike/Debug/RougeLike.tlog/cl.command.1.tlog
*.idb
RougeGame/RougeLike/Debug/vc120.pdb
*.lastbuildstate
RougeGame/RougeLike/Debug/vc120.idb
RougeGame/Debug/RougeLike.exe
*.ilk
*.opensdf
RougeGame/Rouge++.sdf
*.sln
RougeGame/Rouge++.v12.suo
*.vcxproj
RougeGame/Rouge++/Rouge++.vcxproj.filters
*.exe
RougeGame/Debug/Rouge++.pdb
*.log
RougeGame/Rouge++/Debug/vc120.pdb
RougeGame/Rouge++/